# Pour les accès Docker
MONGO_USER= utilisateur_racine
MONGO_PASSWORD=Mot_de_passe_utilisateur_racine
MONGO_HOST=nom_du_service_container_mongodb
MONGO_PORT=port_acces_container_localhost
# Dans le service mongoDB seulement
MONGO_USER_READ=personnel_medical_acces_lecture seulement
MONGO_PASSWORD_READ=mot_de_passe_personnel_medical_acces_lecture_seulement
MONGO_USER_READWRITE=administrateur_database
MONGO_PASSWORD_READWRITE=mot_de_passe_administrateur_database
MONGO_USER_ADMIN=administrateur_creation_utilisateur
MONGO_PASSWORD_ADMIN=mot_de_passe_administrateur_creation_utilisateur